{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    아래 메시지를 읽어보시고 설문을 진행해 주시기 바랍니다.
{% endblock %}

{% block content %}
    <div class="container-fluid align-center">
        <div class="alert-danger border row h1 align-center" style="line-height: 160%">
            <p><b><u>금연프로그램</u></b>에는 보건소 금연클리닉, 찾아가는 금연서비스, 단기 금연캠프 등이 있습니다. <b><u>전국 보건소</u></b>에서는 흡연자 <b><u>누구에게나</u></b> 6개월 간 금연상담·치료 서비스, 금연보조제, 행동요법 등을 제공하며, 6개월간 추후관리를 제공합니다.</p>

        </div>
    </div>
    {% next_button %}
{#    todo next button이 일정시간 후 활성화되도록 조치할 것. #}

{% endblock %}
