{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block app_scripts %}
    <script>

    $(document).keydown(function(event){
        if (event.which === {{ Constants.META_KEYCODE }}){
            $("#form").submit();
        }
    });

    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class = "row">
            <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" id="left_panel">
{#            style="width:50%;display:inline-block;background-color:cornflowerblue"#}
                <h2 class="emph black">
                    {{ Constants.LEFT_KEY_NAME }} 키
                </h2>
                <h1>
                    {% if left_main_category %}
                        <span class="keyword main">{{ left_main_category }}</span>
                        {% if left_sub_category %}
                            또는 <span class="keyword sub">{{ left_sub_category }}</span>
                        {% endif %}
                    {% elif left_sub_category %}
                        <span class="keyword sub">{{ left_sub_category }}</span>
                    {% endif %}
                </h1>
            </div>
            <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" id="right_panel">
{#                style="width:50%;display:inline-block;background-color:aquamarine"#}
                <h2 class="emph black">
                    {{ Constants.RIGHT_KEY_NAME }} 키
                </h2>
                <h1>
                    {% if right_main_category %}
                        <span class="keyword main">{{ right_main_category }}</span>
                        {% if right_sub_category %}
                            또는 <span class="keyword sub">{{ right_sub_category }}</span>
                        {% endif %}
                    {% elif left_sub_category %}
                        <span class="keyword sub">{{ right_sub_category }}</span>
                    {% endif %}
                </h1>
            </div>
        </div>
{#        <div class = "row">#}
{#            <h2>#}
{#                총 {{ Constants.num_rounds }}세트 중 {{ subsession.round_number }}번째#}
{#            </h2>#}
{#        </div>#}
        <div class = "row alert alert-danger">
            <h4>
                {{ additional_message }}
            </h4>
        </div>
        <div class = "row">
            <h4>
                {% if left_main_category %}
                        <span class="keyword main">{{ left_main_category }}</span>
                        {% if left_sub_category %}
                            또는 <span class="keyword sub">{{ left_sub_category }}</span>
                        {% endif %}
                    {% elif left_sub_category %}
                        <span class="keyword sub">{{ left_sub_category }}</span>
                {% endif %}범주의 항목을 분류하기 위하여 왼손의 손가락을 <span class="emph black">{{ Constants.LEFT_KEY_NAME }}</span>키 위에 올려두세요.
            </h4>
            <h4>
                {% if right_main_category %}
                        <span class="keyword main">{{ right_main_category }}</span>
                        {% if right_sub_category %}
                            또는 <span class="keyword sub">{{ right_sub_category }}</span>
                        {% endif %}
                    {% elif left_sub_category %}
                        <span class="keyword sub">{{ right_sub_category }}</span>

                {% endif %}범주의 항목을 분류하기 위하여 오른손의 손가락을 <span class="emph black">{{ Constants.RIGHT_KEY_NAME }}</span>키 위에 올려두세요.
            </h4>
            <h4>
                실수를 하면 <span style="color:red;">빨간색 X</span> 표시가 나타납니다.
                이때는 다른 손의 키를 눌러서 답을 고치세요.
                최대한 실수를 하지 않으면서 가능한 빠른 속도로 응답해 주시기 바랍니다.
            </h4>
        </div>
        <div class = "row">
            <h2>
                준비되셨으면 <span class="emph black">{{ Constants.META_KEY_NAME }}</span>를 눌러주십시오
            </h2>
        </div>
    </div>


{% endblock %}
