{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    아래 메시지를 읽어보시고 설문을 진행해 주시기 바랍니다.
{% endblock %}

{% block content %}
    <div class="container-fluid align-center">
        <div class="alert-danger border row h1 align-center" style="line-height: 160%">
            <p>미국의 한 연구에 따르면 (동일 조건의 비흡연 근로자와 비교하여) <b><u>흡연 근로자</u></b>를 고용함에 따라 사업주에게 소요되는 <b><u>연간 노동력 손실비용</u></b>은 1인당 <b><u>$5,816의 추가부담</u></b>으로 추산됩니다.</p>

        </div>
    </div>
    {% next_button %}
{#    todo next button이 일정시간 후 활성화되도록 조치할 것. #}

{% endblock %}
