{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    설문
{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert border row">
           {{ Constants.common_question_1 }}
        {% formfield player.cq_1_1 %}
        {% formfield player.cq_1_2 %}
        </div>
        <div class="alert row border">
            {{ Constants.common_question_2 }}
            {% formfield player.cq_2_1 %}
            {% formfield player.cq_2_2 %}
            {% formfield player.cq_2_3 %}
            {% formfield player.cq_2_4 %}
            {% formfield player.cq_2_5 %}
            {% formfield player.cq_2_6 %}
            {% formfield player.cq_2_7 %}
            {% formfield player.cq_2_8 %}
            {% formfield player.cq_2_9 %}
            {% formfield player.cq_2_10 %}
            {% formfield player.cq_2_11 %}
        </div>
    </div>
    {% next_button %}

{% endblock %}
