{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        게임 방법 설명
    </h3>

    <p>
{#        You will be paired randomly and anonymously with another participant.#}
{#        In this study, one of you will be Participant 1 and the other#}
{#        Participant 2. Prior to making a decision, you will learn your role,#}
{#        which will be randomly assigned.#}
    </p>
    <p>
        <ol>
            <li>당신은 이 게임에 참가하고 있는 사람들 중 한명과 무작위로 짝이 됩니다.</li>
            <li>당신에게 {{ Constants.endowment }} 가 주어집니다.</li>
            <li>당신은 당신의 짝에게 얼마를 줄 것인지 결정합니다.</li>
            <li>당신의 짝에게 주고 남은 나머지는 당신이 가지게 됩니다.</li>
            <li>당신과 마찬가지로 이 게임에 참가하고 있는 사람들 중 당신과 짝이 된 다른 사람 역시 마찬가지 결정을 할 수 있습니다. 단 이 사람은 당신의 현재 짝과는 상관이 없습니다. </li>
            <li>참가인원이 짝수가 아니어서 짝을 구하지 못한 사람이 생길 경우 그 사람의 보상은 전체 평균 보상으로 산정합니다.</li>
            <li class="alert-danger">이후 진행될 게임에서 얻게 될 포인트는 1 포인트당 {{ Constants.exchange_rate }}원으로 환산되어 지급될 것입니다.</li>
        </ol>
{#        There is {{ Constants.endowment }} to split. Participant 1 will#}
{#        decide how much she or he will retain. Then the rest will go to#}
{#        Participant 2.#}
    </p>
</div>
</div>