{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    동의서
{% endblock %}

{% block content %}

    <div class="panel panel-default">
    <ol>
        <li>나는 이 설명서를 읽었으며 담당 연구원과 이에 대하여 의논하였습니다.</li>
        <li>나는 위험과 이득에 관하여 들었으며 나의 질문에 만족할 만한 답변을 얻었습니다.</li>
        <li>나는 이 연구에 참여하는 것에 대하여 자발적으로 동의합니다.</li>
        <li>나는 이 연구에서 얻어진 나에 대한 정보를 현행 법률과 생명윤리심의위원회 규정이 허용하는 범위 내에서 연구자가 수집하고 처리하는데 동의합니다.</li>
        <li>나는 언제라도 이 연구의 참여를 철회할 수 있고 이러한 결정이 나에게 어떠한 해도 되지 않을 것이라는 것을 압니다.</li>
        <li>(대면 설문의 경우) 나의 서명은 이 동의서의 사본을 받았다는 것을 뜻하며 연구 참여가 끝날 때까지 사본을 보관하겠습니다.</li>
        <li>(비대면 온라인 설문의 경우) 나의 버튼 클릭은 이 동의서에 동의한다는 것을 뜻합니다.</li>
    </ol>

    </div>

    <button class="btn btn-primary btn-large active">
        위 내용에 동의하신다면 이 버튼을 눌러 설문을 젼행해 주시기 바랍니다.
    </button>

{% endblock %}