{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    설문조사
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row border alert">
            {% formfield player.education %}
        </div>
        <div class="row border alert d-block">
            <div>
                다음은 가족구성에 관한 문항입니다.
            </div>
            <div>
                {% formfield player.family_members %}
                {% formfield player.marriage_state %}
            </div>
            <div>
                현재 귀하와 같은 가구 내에 살고 있는 구성원 유형을 모두 선택해주세요 (복수 응답 가능)
                {% formfield player.living_with_1 %}
                {% formfield player.living_with_2 %}
                {% formfield player.living_with_3 %}
                {% formfield player.living_with_4 %}
                {% formfield player.living_with_5 %}
                {% formfield player.living_with_6 %}
                {% formfield player.living_with_7 %}
                {% formfield player.living_with_8 %}
                {% formfield player.living_with_9 %}
            </div>
            <div>
                귀하께서는 자녀와 함께 살고 있다고 응답하셨습니다. 자녀의 연령대에 따른 자녀수를 작성해주십시오 (복수 응답 가능)
            </div>
            <div>
                ※ 해당 연령대의 자녀가 있는 칸에만 숫자를 입력해주세요.
            </div>
            <div>
                {% formfield player.num_child_under7 %}
                {% formfield player.num_child_elem %}
                {% formfield player.num_child_mid %}
                {% formfield player.num_child_high %}
                {% formfield player.num_child_over19 %}
            </div>
            {% formfield player.is_family_owner %}
        </div>
        <div class="row alert border d-block">
            <div>
                다음은 소득 수준에 대한 문항입니다.
            </div>
            {% formfield player.family_income %}
{#            todo: 가구소득은 개인소득보다 커야함. 체크하게 할 것. #}
            {% formfield player.individual_income %}
        </div>
    </div>
    {% next_button %}

{% endblock %}
