{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    설문조사
{% endblock %}

{% block app_scripts %}
    <script>
    $(document).ready(function(){
        op_checker("id_nsmd_1_1_0", "nsmd_2_1");
        op_checker("id_nsmd_1_2_0", "nsmd_2_3");
        op_checker("id_nsmd_1_2_6", "nsmd_2_2");
        op_checker("id_nsmd_1_1_0", "md_frame");
        op_checker("id_nsmd_1_2_0", "md_frame");
        op_checker("id_nsmd_1_2_6", "md_frame");
    })
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert row border d-block">
            <div>
                <b>귀하는 현재까지 담배를 피워본 적 없는 비흡연자라고 응답하셨습니다.</b><br> 향후 귀하가 흡연자가 될 가능성에 대해 어떻게 생각하십니까? 다음의 각 문항에 솔직하게 응답해주시기 바랍니다.
            </div>
            <div class="alert row border d-block">
                <div>
                    {% formfield player.nsmd_1_1 %}
                    {% formfield player.nsmd_1_2 %}
                </div>
            </div>
        </div>
        <div class="alert row border d-block">
            <div>
                <div class="optional" id="nsmd_2_1">
                    <b>귀하께서 흡연에 대해 아래와 같이 응답하신 이유는 무엇입니까?</b>
                    {% formfield player.nsmd_2_1 %}
                </div>
                <div class="optional" id="nsmd_2_2">
                    <b>귀하께서 흡연에 대해 아래와 같이 응답하신 이유는 무엇입니까?</b>
                    {% formfield player.nsmd_2_2 %}
                </div>
                <div class="optional" id="nsmd_2_3">
                    <b>귀하께서 흡연에 대해 아래와 같이 응답하신 이유는 무엇입니까?</b>
                    {% formfield player.nsmd_2_3 %}
                </div>
            </div>
        </div>
    </div>
    {% next_button %}

{% endblock %}
