{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    연구참여자 설명문 및 동의서
{% endblock %}

{% block content %}
    <div class="alert alert-primary">
        <ul>
            <li>연구 과제명 : 근무환경이 직무능력에 미치는 영향</li>
            <li>연구 책임자명 : 조남운(한국행동경제학연구소, 수석연구원)</li>
        </ul>
    </div>
    <div class="panel-body">
        <p>
            본 연구는 사업장 내 근로자들의 근무 환경이 직무 능력에 미치는 영향에 대한 연구입니다. 귀하는 본 연구에 참여할 것인지 여부를 결정하기 전에, 설명서와 동의서를 신중하게 읽어보셔야 합니다. 이 연구가 왜 수행되며, 무엇을 수행하는지 귀하가 이해하는 것이 중요합니다. 이 연구를 수행하는 조남운 연구책임자 또는 어수진, 이가영, 김종환 연구원이 귀하에게 이 연구에 대해 설명해 줄 것입니다. 이 연구는 자발적으로 참여 의사를 밝히신 분에 한하여 수행 될 것입니다. 다음 내용을 신중히 읽어보신 후 참여 의사를 밝혀 주시길 바라며, 필요하다면 가족이나 친구들과 의논해 보십시오. 만일 어떠한 질문이 있다면 담당 연구원이 자세하게 설명해 줄 것입니다.
귀하의 서명은 귀하가 본 연구에 대해 그리고 위험성에 대해 설명을 들었음을 의미하며, 이 문서에 대한 귀하의 서명은 귀하께서 자신(또는 법정대리인)이 본 연구에 참가를 원한다는 것을 의미합니다.
        </p>
    <h3>1. 연구의 배경과 목적</h3>
    <p>
        본 연구에서는 근무에 대한 다양한 환경이 직무 수행에 미치는 영향을 연구하고자 합니다. 실제 직무 수행에 도움을 주거나, 부담을 주는 요인들에 대한 연구는 존재하지만 그러한 요인들이 생산성에 미치는 영향을 직접 측정하는 연구는 부족한 실정입니다. 이에 본 연구에서는 그러한 요인들이 직무 능력에 미치는 영향측정을 목적으로 합니다.
    </p>
    <h3>2. 연구 참여 대상</h3>
    <p>
        본 연구에는 흡연, 비흡연자 20세-59세까지의 근로자 90명이 참여할 것입니다. 단, 비흡연자가 흡연자로 참가하거나, 흡연자가 비흡연자로 참가하는 경우는 본 연구에서 제외됩니다.
    </p>
    <h3>
        3. 연구 방법
    </h3>
    <p>
        만일 귀하가 참여의사를 밝혀주시면 다음과 같은 과정이 진행될 것입니다.
측정장소 도착 직후 귀하에게 배부되는 타액검사도구를 이용하여 타액검사를 진행하신 후 검사결과가 나타난 키트를 연구원에게 제출하도록 요청받을 것입니다. 검사결과에 따라 20시간 이내의 흡연 여부를 체크한 뒤, 발생한 인체유래물(타액검사도구)은 적절한 보관용기에 보관하여 일반 의료폐기물 전문처리업체로 보내져 소각·폐기될 것입니다.
타액검사키트를 이용한 체내코티닌검사 이후 스마트 체중계를 이용하여 체중, 근육량, 골격근량, 체수분지수, 체지방지수, 체지방률, 체질량지수, 기초대사량 등 기초적인 신체정보 측정 후 약 20분간 소요되는 설문 조사에 응답하도록 요청받을 것입니다.
설문조사가 끝나면 약 10분간 지정된 장소에서 휴식을 하고, 이어서 연구원의 안내에 따라 지정된 장소에서 ①소음환경에서 단기 기억력 측정, ②두 자리 숫자 더하기, ③양초실험, ④동전 분류, ⑤문자표 풀기, ⑥스트룹 테스트, ⑦미로 풀기, ⑧종이접기, ⑨구슬꿰기 등 총 9가지의 다양한 직무들을 부여받게 될 것이며, 각 과제별 수행 완료 시간이 측정될 것입니다. 귀하는 다른 사람이 접근하지 않는 지정된 장소에서 위의 과제를 수행할 것입니다.
중간에 연구원의 안내에 따라 휴식 시간이 한 번 더 부여될 것이며, 이 모든 과정은 150분 정도 소요될 것입니다.
    </p>
    <h3>
        4. 연구 참여 기간
    </h3>
    <p>
        귀하는 본 연구를 위해 1회 참여하도록 요청받을 것입니다. 참여에 소요되는 시간은 약 150분으로 예상됩니다.
    </p>
    <h3>
        5. 연구 참여에 따른 이익
    </h3>
    <p>
        귀하가 이 연구에 참여하는데 있어서 직접적인 이득은 없습니다. 그러나 귀하가 제공하는 정보는 근무환경 개선을 위한 정책방향 수립에 도움이 될 것입니다.
    </p>
    <h3>
        6. 부작용 또는 위험과 불편함
    </h3>
    <p>
        본 연구에서 실시하는 설문조사 문항 중 담뱃갑 표지 디자인에 관한 한 문항에서 흡연의 위험성을 경고하는 사진이 사용되어 혐오감을 불러일으킬 수 있습니다. 하지만 본 연구 수행 중 그밖에 특별한 위험과 불편감이 예상되지는 않습니다. 연구 참여 도중 어떤 형태로든 부작용이나 위험 요소, 불편감 등에 대한 질문이 있으시면 담당 연구원에게 즉시 문의해 주십시오. 연구 수행 중 중단을 원하시면 언제든 중단의사를 밝혀주신 후 그만둘 수 있습니다.
    </p>
    <h3>
        7. 연구 참여에 따른 보상 또는 비용
    </h3>
    <p>
        연구를 정상적으로 마쳤을 때 교통비 및 참가 사례비로 12만원이 귀하에게 지급될 것입니다.
귀하가 본 연구에 참여함으로써 추가로 지불하는 비용은 없습니다
    </p>
    <h3>
        8. 개인정보와 비밀보장
    </h3>
    <p>
       본 연구의 참여로 귀하에게서 수집되는 개인정보는 다음과 같습니다.

    </p>
    <div class="alert-info">
        <p>1. 참여수당 지급을 위한 증빙 자료: 성명, 주민등록번호, 은행명, 계좌번호, 주     소 (광역시/도 행정구/시 단위만), 휴대폰번호. 이메일주소</p>
        <p>2. 설문조사 응답의 통계적 분류를 위한 사회인구학적 정보: 출생년도, 성별,      거주지역 (17개 시도단위), 학력, 결혼여부, 가족구성원 수, 직업군, 개인 및     가족소득구간</p>
    </div>
    <p>
이 정보는 참여수당 지급을 위한 행정적 증빙 자료와 설문조사 응답의 통계분류를 위한 사회인구학적 자료로서 3년간 보관되며, 수집된 정보는 개인정보보호법에 따라 적절히 관리됩니다. ‘참여수당 지급을 위한 증빙 자료’와 ‘설문조사 응답의 통계적 분류를 위한 사회인구학적 정보’는 서로 연동되지 않으며, 따라서 이를 통해 개인이 식별되지 않습니다. 관련 정보는 암호화된 한국행동경제학연구소의 서버에 보관되며, 조남운, 어수진, 이가영, 김종환 연구원만이 접근 가능합니다. 또한 연구를 통해 얻은 모든 개인 정보의 비밀 보장을 위해 최선을 다할 것입니다. 이 연구를 통해 얻어진 개인 정보는 연구보고서나 학회지, 학회에 사용되지 않습니다.

그러나 연구 모니터 요원, 점검 요원, 공용기관생명윤리위원회는 연구대상자의 비밀보장을 침해하지 않고 관련 규정이 정하는 범위 안에서 본 연구의 실시 절차와 자료의 신뢰성을 검증하기 위해 연구 관련 자료를 직접 열람하거나 제출을 요청할 수 있습니다. 이는 법이 요구하는 바이며, 귀하가 본 동의서에 서명하는 것은 이러한 상황에 대하여 사전에 알고 있었으며 이를 허용한다는 의사로 간주될 것입니다. 연구 종료후 연구관련자료 (기관위원회 심의결과, 서면동의서, 개인정보수집/이용·제공현황, 연구종료보고서)는 ｢생명윤리 및 안전에 관한 법률｣ 시행규칙 제15조에 따라 연구종료 후 3년간 보관됩니다. 보관기간이 끝나면 소프트웨어 자료는 복원 불가능한 파일 삭제법을 통해 폐기될 것이며, 종이 형태의 자료는 문서 파쇄기를 통해 폐기될 것입니다.
    </p>
    <h3>
        자발적 연구 참여와 중지
    </h3>
    <p>
        귀하는 본 연구에 참여하지 않을 자유가 있으며 본 연구에 참여하지 않아도 귀하에게는 어떠한 불이익도 없습니다. 또한, 귀하는 연구에 참여하신 언제든지 도중에 그만 둘 수 있습니다. 만일 귀하가 연구에 참여하는 것을 그만두고 싶다면 담당 연구원이나 연구책임자에게 즉시 말씀해 주십시오. 참여 중지 시 귀하의 자료는 더 이상 연구에 사용되지 않고 안전 파일 삭제, 문서 파쇄의 방법으로 폐기될 것입니다.
    </p>

    <h3>
        중도탈락 기준
    </h3>
        <h4>흡연자 그룹의 참여 중지 및 탈락기준</h4>
        <p>흡연자 그룹A와 B는 연구기간 중 금연을 시도하거나 금연프로그램에 참가할 의사가 없는 흡연자로서 사전 신청을 받고 연구에 참여함에 따라, 타액검사를 통한 체내코티닌검사에서 양성이 나와야 하며, 비흡연자로 판별되면 연구자에 의해 탈락처리 됩니다.</p>
        <h4>비흡연자 그룹의 참여 중지 및 탈락기준</h4>
        <p>비흡연자 그룹은 연구기간 중 흡연을 시도할 의사가 없으며 연구 시작 이전 흡연 및 금연 이력이 없는 생애 비흡연자로서 사전 신청을 받고 연구에 참여함에 따라, 타액검사를 통한 체내코티닌검사에서 음성이 나와야 하며, 흡연자로 판별되면 연구자에 의해 탈락처리 됩니다.</p>
    <h3>
        연구 문의
    </h3>
    <p>
        본 연구에 대해 질문이 있거나 연구 중간에 문제가 생길 시 다음 연구 담당자에게 언제든지 연락하십시오.
    </p>
    <p class="alert-info">
        이름: 최재홍 (한국행동경제학연구소 대표이사)        전화번호: 02-587-8286
    </p>
    <p>
        만일 어느 때라도 연구대상자로서 귀하의 권리에 대한 질문이 있다면 다음의 보건복지부 지정 공용기관생명윤리위원회에 연락하십시오.
    </p>
    <p class="alert-info">
        보건복지부 지정 공용기관생명윤리위원회(공용위원회)     전화번호: 02-737-8990
    </p>
    </div>
    <div class="alert-danger">
        {% formfield player.panel_id %}
        {% formfield player.treatment %}
        {% formfield player.etc %}
    </div>

    <button class="btn btn-primary btn-large active">
        이 버튼을 눌러 동의서를 확인해주시기 바랍니다.
    </button>

{% endblock %}