{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    아래 메시지를 읽어보시고 설문을 진행해 주시기 바랍니다.
{% endblock %}

{% block content %}
    <div class="container-fluid align-center">
        <div class="alert-danger border row h1 align-center" style="line-height: 160%">
            <p>이후에 제시될 문항 중 직업군 분류는 <u><b>‘한국표준산업분류’</u></b>의 기준에 따라 작성되었습니다. 가장 최신의 개정 내용은 2017년에 개정된 제10차 한국표준산업분류이며, <u><b>사업장의 업종 구분</u></b>에 사용됩니다.</p>

        </div>
    </div>
    {% next_button %}
{#    todo next button이 일정시간 후 활성화되도록 조치할 것. #}

{% endblock %}
