{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    설문조사
{% endblock %}


{% block content %}

    <div class="container">
        <div class="alert row border">
            <div>
                <b>귀하께서는 현재까지 한 번도 흡연한 적이 없다고 응답하셨습니다.</b><br><p class="alert-info">흡연을 시도하지 않은 가장 큰 이유는 무엇입니까?</p>
                    {% formfield player.nsm_1 %}
                    {# todo conditional op by click etc #}
                    {% formfield player.nsm_1_op %}
            </div>
        </div>
        <div class="alert row border">
            <b>과거에 주변 사람들로부터 담배를 권유받은 적 있습니까? . </b>
            {% formfield player.nsm_2 %}
        </div>

        <div class="alert row border">
            <p class="alert-info">
            권유받은 적이 있다면, 가장 기억에 남는 사람은 언제, 누구였습니까?
            </p>
            <div class="alert row">
                <b>권유받은 시기 :</b> &nbsp;
                {% formfield player.nsm_2_1 %}
            {# todo conditional op by click etc #}
                {% formfield player.nsm_2_1_op %}
            </div>
            <div class="alert row">
                <b>권유한 사람 :</b> &nbsp;
                {% formfield player.nsm_2_2 %}
            {# todo conditional op by click etc #}
                {% formfield player.nsm_2_2_op %}
            </div>
        </div>
        <div class="row border alert d-block">
            <b>{{ Constants.smoker_size_question_1 }}</b>
            <div class="row border alert">
            <div>
                {{ Constants.smoker_size_question_2 }}
            </div>
            <div>
                <p class="alert-info">
                {{ Constants.smoker_size_question_3 }}
                </p>


            <div class="row alert">
               근무부서(팀) 총 <span>{% formfield player.nsm_3_1_1 %}</span>명 중

                흡연자 총 <span>{% formfield player.nsm_3_1_2 %}</span>명
{#                todo 흡연자수가 근무부서인원수를 넘지 못하게 조치 #}
            </div>
            </div>
        </div>

        <div class="row border alert">
           {{ Constants.smoker_neighbor_question }}
            {% formfield player.nsm_3_2_1 %}
            {% formfield player.nsm_3_2_2 %}
            {% formfield player.nsm_3_2_3 %}
        </div>

{#        <div class="row border alert d-block">#}
{#            {{ Constants.scenario_question }}#}
{#            <div class="row border alert-info d-block">#}
{#                {{ Constants.episode_a }}#}
{##}
{#            <div>{% formfield player.nsm_smoking_will %}</div>#}
{#            <div>{% formfield player.nsm_smoking_will_yn %}</div>#}
{#            </div>#}
{#        </div>#}
    </div>

    <button class="btn btn-primary btn-large active">
        모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 페이지로 진행해주시기 바랍니다
    </button>

{% endblock %}
