{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}
    <style>
    .left_quiz_panel{
        width:50%;
        display:inline-block;
        background-color:lightyellow;
        border-style:outset;
    }
    .right_quiz_panel{
        width:50%;
        display:inline-block;
        background-color:lightyellow;
        border-style:outset;
    }
    .emph {
        font-weight: bold;
        color: #ff0000;
    }
    .quiz_img_frame{
        display:inline-block;
        width:75%;
        margin-left:12.5%;
    }
    .otree-timer{
        display:none;
    }
    </style>
{% endblock %}

{% block global_scripts  %}
   <script>

    const submit_basic_variables = function() {
        $('#question_number').val("{{ filename }}");
        $('#answer').val("{{ left_key }}");
        $('#form').submit();
    };

    const submit_for_correct_answer = function (){
        $("#isCorrect").val("True");
        submit_basic_variables();
    };

    const submit_for_incorrect_answer = function (){
        $("#isCorrect").val("False");
        submit_basic_variables();
    };

    $(document).keydown(function (event) {
        const left_keycode = "{{ left_key }}".charCodeAt(0);
        const right_keycode = "{{ right_key }}".charCodeAt(0);
        const location_of_correct_answer = "{{ location_of_correct_answer }}";
        if (event.which === left_keycode) {
            if (location_of_correct_answer === "left") {
                submit_for_correct_answer();
            } else {
                submit_for_incorrect_answer();
            }
        } else if (event.which === right_keycode) {
            if (location_of_correct_answer === "right") {
                submit_for_correct_answer();
            } else {
                submit_for_incorrect_answer();
            }
        } else {
            alert("{{ right_key }}, 혹은 {{ left_key }} 키 만을 누르셔야 합니다");
        }
    });
    </script>
{% endblock %}

{% block title %}
    기억력 퀴즈
{% endblock %}


