{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    포인트 분배 게임 Type 1
{% endblock %}

{% block app_scripts %}
    <script>
        $(document).ready(function(){
            $(".hidden").hide();
            {#alert("hide");#}

            $('select').change(
                function(){
                    {#alert("select input changed!" + this.value);#}
                    $("#remaining").text({{ endowment }} - this.value);
                    $(".hidden").show();
                }
            )
        })
    </script>
{% endblock %}

{% block content %}
    {% include Constants.dictator_instruction_template %}

    <div class="container">
        {% formfield player.dictator_give label="나는 상대방에게 아래와 같은 금액을 줄 것입니다. " %}
    <div class="alert-info hidden">당신은 남은 <span class="alert-danger" id="remaining"></span> 포인트와 자신이 준 상대와 무관한 또다른 상대방이 자신에게 줄 미지의 포인트를 합친 금액을 보상으로 받게 될 것입니다.<br> 이 상대방들은 설문이 모두 종료되고 난 뒤 컴퓨터 추첨을 통해 결정합니다. </div>
    </div>

    <button class="btn btn-primary btn-large active">
        금액 보내기
    </button>

{% endblock %}
